body {
  background-color: #1f1f2f;
  color: #f1f1f2;
}
#full {
  width: 1280px;
  height: 800px;
  margin: auto;
  box-shadow: 0px 0px 10px #181828;
}
canvas {
  width: 1280px;
  height: 800px;
  background-color: #0f0f1f;
}
